{% extends 'base.html' %}
{% block title %}Страница авторизации{% endblock %}
{% block content %}
<h1 class="display-3">Регистрация</h1>
<form class="form-inline" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group row">
        {{ form.username.label(class_="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ form.username(size=32) }}
        </div>
        {% for error in form.username.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group row">
        {{ form.email.label(class_="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ form.email(size=32) }}
        </div>
        {% for error in form.email.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group row">
        {{ form.password.label(class_="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ form.password(size=32) }}
        </div>
        {% for error in form.password.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group row">
        {{ form.password2.label(class_="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ form.password2(size=32) }}
        </div>
        {% for error in form.password2.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group row">
        {{ form.height.label(class_="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ form.height(size=32) }} см
        </div>
        {% for error in form.height.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group row">
        {{ form.weight.label(class_="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ form.weight(size=32) }} кг
        </div>
        {% for error in form.weight.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock %}