/* FONTS Montserrat */
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    font-style: bold;
    font-weight: bold;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

/* FONTS FontAwesome */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/FontAwesome.otf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.eot');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.ttf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.woff');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.woff2');
}
